<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">


<head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
</head>

<body>
<section>

    <div id="login">
        <div class="container">

            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">

                    <div class="col-md-12">

                        <form class="form" th:action="@{/dologin}" method="post">

                            <h3 class="text-center text-info">Login</h3>

                            <!-- ERROR -->
                            <div th:if="${param.error}"
                                 class="alert alert-danger">
                                Invalid username or password
                            </div>

                            <!-- LOGOUT -->
                            <div th:if="${param.logout}"
                                 class="alert alert-success">
                                You have been logged out
                            </div>

                            <!-- USERNAME -->
                            <div class="form-group">
                                <label class="text-info">Email:</label>
                                <input type="text" name="username"
                                       class="form-control"
                                       placeholder="Enter email">
                            </div>

                            <!-- PASSWORD -->
                            <div class="form-group">
                                <label class="text-info">Password:</label>
                                <input type="password" name="password"
                                       class="form-control"
                                       placeholder="Enter password">
                            </div>

                            <div class="text-center">
                                <input type="submit"
                                       class="btn btn-info"
                                       value="Login">
                            </div>

                            <div class="text-right mt-2">
                                <a th:href="@{/signup}" class="text-info">
                                    Register here
                                </a>
                            </div>

                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
</body>
</html>